<div id="sidebar" ng-class="{'active-sidebar' : isSidebarActive}">
  <div ng-switch on="condition" id="sidebar-controls">
    <div ng-switch-default>
      <img id="control-btn" src="../images/menu3.png" ng-click="toggleSidebar()">
      <label ng-click="log()" ng-bind="username">Chakula</label>
      <img id="add-contact-btn" src="../images/addcontact2.png" ng-click="toggleAddContact()">
    </div>
    <div ng-switch-when="add-contact">
      <form id="add-contact-form" ng-submit="addContact(target_contact)">
        <input class="form-control" type="text" placeholder="Add contact..." ng-model="target_contact">
        <img ng-click="toggleAddContact()" src="../images/back.png">
      </form>
    </div>
    <div ng-switch-when="result" id="contact-request-result">
      <label ng-bind="contact_request_result"></label>
    </div>
  </div>
  <ul>
    <li sent-requests ng-repeat="(name, object) in sent_requests"></li>
    <li received-requests ng-repeat="(name, object) in received_requests"></li>
    <li my-contacts ng-repeat="(name, object) in my_contacts" ng-class="{'selected-contact': $index == $parent.selected_index, 'unread': object.unread}"></li>
  </ul>
</div>
<div id="chat-interface-wrapper" ng-class="{'active-sidebar' : isSidebarActive}">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-3"></div>
      <div id="chat-info" class="col-sm-6 col-md-6">
        <label ng-bind="selected_contact"></label>
      </div>
      <div id="contact-controls" class="col-sm-3 col-md-3">
        <img src="../images/video.png">
        <img src="../images/phone.png">
      </div>
    </div>
    <div class="row">
      <div id="chat-box" class="col-sm-12 col-md-12">
        <div ng-repeat="chat in my_contacts[selected_contact].chat">
          [{{chat.when}}] {{chat.who}}: {{chat.what}}
        </div>
      </div>
    </div>
    <div class="row">
      <form id="chat-input" class="col-sm-12 col-md-12" ng-submit="sendMessage(selected_contact, message)">
        <input type="text" class="form-control" placeholder="Type here..." ng-model="message"></input>
      </form>
    </div>
  </div>
</div>
