<div id="sidebar" ng-class="isSidebarActive ? 'active-sidebar' : ''">
  <div ng-switch on="condition" id="sidebar-controls">
    <div ng-switch-default>
      <img class="control-btn" src="../images/menu3.png" ng-click="isSidebarActive = !isSidebarActive">
      <label>Chakula</label>
      <img src="../images/addcontact2.png" ng-click="toggleAddContact()">
    </div>
    <div ng-switch-when="add-contact">
      <form ng-submit="addContact(target_contact)">
        <input class="form-control" type="text" placeholder="Type contact name" ng-model="target_contact">
      </form>
    </div>
    <div ng-switch-when="result">
      <label ng-bind="contact_request_result"></label>
    </div>
  </div>
  <ul>
    <li sent-requests ng-repeat="(key, object) in sent_requests"></li>
    <li received-requests ng-repeat="(key, object) in received_requests"></li>
    <li my-contacts ng-repeat="(key, object) in my_contacts"></li>
  </ul>
</div>
<div id="chat-interface-wrapper" ng-class="isSidebarActive ? 'active-sidebar' : ''">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-3"></div>
      <div id="chat-info" class="col-sm-6 col-md-6">
        <label>Contact info</label>
      </div>
      <div id="contact-controls" class="col-sm-3 col-md-3">
        <img src="../images/video.png">
        <img src="../images/phone.png">
      </div>
    </div>
    <div class="row">
      <div id="chat-box" class="col-sm-12 col-md-12">contact: example text</div>
    </div>
    <div class="row">
      <form id="chat-input" class="col-sm-12 col-md-12">
        <textarea type="text" class="form-control" placeholder="Type here..." ng-keypress="checkIfEnter($event, message)" ng-bind="message"></textarea>
      </form>
    </div>
  </div>
</div>
