<div class="container-fluid">
  <div id="logo" class="row">
    <div id="logo-wrapper" class="col-xs-12 col-sm-12 col-md-12">
      <img src="../images/logo.png" alt="logo">
      <h3>Chakula</h3>
    </div>
  </div>
  <div id="login-controls" class="row">
    <form class="col-xs-8 col-sm-8 col-md-8" ng-submit="connectToServer()">
      <input type="text" class="form-control" placeholder="Username" ng-model="username">
    </form>
    <button ng-click="connectToServer()" class="col-xs-4 col-sm-4 col-md-4 btn" ng-class="{'error': is_error}"ng-bind="login_btn_string"></button>
  </div>
</div>
